@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 400;
  src: url("Inter-Regular.woff2") format("woff2"),
       url("Inter-Regular.woff") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 700;
  src: url("Inter-Bold.woff2") format("woff2"),
       url("Inter-Bold.woff") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 500;
  src: url("Inter-Medium.woff2") format("woff2"),
       url("Inter-Medium.woff") format("woff");
}

body {
  color: #fff;
  background-color: #4B5FE7;
  font-family: 'Inter', sans-serif;
  line-height: normal;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  margin: 0;
  overflow: hidden;
}

* {
  box-sizing: border-box;
  outline: none;
}

header {
  padding: 25px 0;
}

.header__logo {
  display: block;
  width: 184px;
  height: 32px;
  margin: 0 auto;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.2);
  height: 60px;
  width: 100%;
}

footer * {
  line-height: 60px;
}

footer a {
  margin-right: 15px;
}

footer a:last-child {
  margin-right: 0px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin: 0;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.container {
  height: 100%;
  padding: 0 50px;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.title-lg {
  font-size: 64px;
  letter-spacing: -0.02em;
}

.title-md {
  font-size: 24px;
  letter-spacing: -0.01em;
  line-height: 32px;
}

.text-centered {
  text-align: center;
}

.text-bold {
  font-weight: bold;
}

.mb30 {
  margin-bottom: 30px;
}

p {
  margin: 0;
}

.pt120 {
  padding-top: 10vh;
}

.apps {
  margin: 14vh auto 0px auto;
  max-width: 763.5px;
}

.apps .app:last-child {
  margin-right: 0;
}

.app {
  display: inline-block !important;
  width: 150px;
  margin-right: 50px;
}

.app__icon {
  width: 150px;
  height: 150px;
  margin: 0 auto;
}

.app__icon img {
  width: 100%;
}

.app__title {
  margin-top: 15px;
  width: 100%;
  text-align: center;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: -0.01em;
}

@media (max-height: 1024px) {
  .pt120 {
    padding-top: 5vh;
  }

  .apps {
    margin: 9vh auto 0px auto;
  }
}

@media (max-width: 870px) {
  .pt120 {
    padding-top: 2vh;
  }

  .container {
    padding: 0 20px;
  }

  .title-lg {
    font-size: 32px;
    letter-spacing: -0.02em;
  }

  .title-md {
    font-size: 18px;
    letter-spacing: -0.01em;
    line-height: 24px;
  }

  .apps {
    /* margin-top: 4vh; */
    width: 301.5px;
  }

  .app {
    display: inline-block;
    width: 60px;
    margin-right: 16px;
  }

  .app__icon {
    width: 60px;
    height: 60px;
  }

  .app__title {
    margin-top: 7.5px;
    line-height: 16px;
    font-size: 12px;
  }
}

@media (max-height: 568px) {
  body {
    font-size: 14px;
  }

  .title-lg {
    font-size: 24px;
    letter-spacing: -0.02em;
  }

  .title-md {
    font-size: 14px;
    letter-spacing: -0.01em;
    line-height: 20px;
  }
}